<div class="create" id="create">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Comentar Post
      </div>
      <div class="card-body">
        <form #f="ngForm">
          <!-- Titulo -->
          <div class="form-group">
            <div>
              <input type="text" placeholder="Título" [(ngModel)]="post.title" name="title" #title="ngModel"
                class="form-control" readonly>
            </div>
          </div>

          <!-- Contenido -->
          <div class="form-group">
            <label>Contenido</label>
            <div>
              <textarea rows="5" placeholder="Contenido" [(ngModel)]="post.body" name="body" #body="ngModel"
                class="form-control" readonly></textarea>
            </div>
          </div>

          <!-- Comentarios -->
          <button *ngIf="habilitarBoton" type="button" class="btn btn-dark my-3" (click)="setHabilitar()">
            {{habilitar==true? 'Ocultar Comentarios' : 'Mostrar Comentarios'}}</button>
          <div *ngIf="habilitar" class="form-group">
            <label>Comentarios</label>
            <div>
              <div *ngFor="let comment of comentarios">
                <div class="card-header">
                  Comentado por: {{comment.name}}
                  <p>{{comment.email}}</p>
                </div>
                <div class="card-body">
                  {{comment.body}}
                </div>
                <div>
                  <button class="btn btn-danger" (click)="delete(comment.id)">Borrar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Comentar -->
          <div class="form-group">
            <label>Comentario</label>
            <div>
              <textarea rows="3" [(ngModel)]="comment.body" name="commentBody" #comment_body="ngModel"
                class="form-control" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="commentPost()" [disabled]=f.invalid>Comentar</button>
          </div>
        </form>

      </div>

    </div>
  </div>

</div>
