<div class="create" id="create">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Crear Post
      </div>
      <div class="card-body">
        <form (ngSubmit)="create()" #f="ngForm">
          <!-- Titulo -->
          <div class="form-group">
            <div>
              <input type="text" placeholder="Título" [(ngModel)]="post.title" name="title" #title="ngModel"
                class="form-control" required>
              <div [hidden]="title.valid || title.pristine" class="alert alert-danger">El Titulo es requerido</div>
            </div>
          </div>

          <!-- Contenido -->
          <div class="form-group">
            <label>Contenido</label>
            <div>
              <textarea rows="5" placeholder="Contenido" [(ngModel)]="post.body" name="body" #body="ngModel"
                class="form-control" required></textarea>
              <div [hidden]="body.valid || body.pristine" class="alert alert-danger">El Contenido es requerido</div>
            </div>
          </div>

          <!-- Imágen -->
          <div class="form-group">
            <label>Foto</label>
            <div>
              <input class="form-control" type="file" (change)="upload($event)" accept=".png,.jpg" />
            </div>
            <progress max="100" [value]="(uploadProgress | async)"></progress>
            <div class="result" *ngIf="downloadURL | async; let uploadSrc">
              <a [href]="uploadSrc">Acabas de subir el archivo a tu post!</a>
            </div>

            <section class="control-bar" *ngIf="uploadState | async; let state">
              <button class="btn btn-outline-warning" (click)="task.pause()" [disabled]="state === 'paused'">Pausar</button>
              <button class="btn btn-outline-success" (click)="task.resume()" [disabled]="state === 'running'">Resumir</button>
              <button class="btn btn-outline-danger" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancelar</button>
            </section>

            <div class="container text-center" *ngIf="downloadURL | async; let url">
              <img [src]="url" alt="Imagen de AngularFireStorage" width="300px" height="200px">
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]=f.invalid>Postear</button>
          </div>
        </form>

      </div>

    </div>
  </div>

</div>
