<div class="register" id="register">
  <div class="container">
      <div class="card bg-light">
        <div class="card-header">
          Registro de Usuario
        </div>
        <div class="card-body">
          <form (ngSubmit)="createUser()" #f="ngForm">
            <!-- Nombre -->
            <div class="form-group">
              <label>Ingresa el nombre</label>
              <div>
                <input type="text" placeholder="Nombre" [(ngModel)]="user.first_name" name="nombre" #first_name="ngModel"
                  class="form-control" required>
                  <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">El Nombre es requerido</div>
              </div>
            </div>
            <!-- Apellido -->
            <div class="form-group">
              <label>Ingresa el apellido</label>
              <div>
                <input type="text" placeholder="Apellido" [(ngModel)]="user.last_name" name="apellido" #last_name="ngModel"
                class="form-control" required>
                <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">El Apellido es requerido</div>
              </div>
            </div>
            <!-- Género -->
            <div class="form-group">
              <label>Selecciona el Género</label>
              <div>
                <select class="custom-select" [(ngModel)]="user.gender" name="genero" #gender="ngModel"
                class="form-control" required>
                  <option value="male">Masculino</option>
                  <option value="female">Femenino</option>
                </select>
                <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">El Género es requerido</div>
              </div>
            </div>
            <!-- Email -->
            <div class="form-group">
              <label>Ingresa el Email</label>
              <div>
                <input type="email" placeholder="Email" class="form-control" [(ngModel)]="user.email" name='email'
                #email="ngModel" required email>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">El Email es requerido</div>
              </div>
            </div>
             <!-- Phone -->
             <div class="form-group">
              <label>Ingresa el Teléfono</label>
              <div>
                <input type="string" placeholder="Teléfono" class="form-control" [(ngModel)]="user.phone" name='phone'
                #phone="ngModel" required>
                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">El Teléfono es requerido</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block" [disabled]=f.invalid>Registrarse</button>
            </div>
          </form>
        </div>
      </div>

  </div>

</div>
