.login {
  background-image: url(src/assets/images/shared-module/login-background.jpg);
  padding-top: 110px;
  padding-bottom: 40px;
  background-size: 100% cover;
  background-position: top center;
  background-color: rgb(241, 241, 241);
  height: 500px;
  display: flex;
  justify-content: center;
}


.login-container {
  background-color: rgba(247, 248, 247, 0.5);
  border-radius: 0.5cm;
  border-style: none;
}

.user-image {
  position: absolute;
  top: -100px;
  left: 32%;
}
