<div class="login" id="login">
  <div class="container">
    <div class="mt-2">
      <div class="col-xs-12 col-md-5 col-lg-5 d-block p-3 m-auto login-container">
        <div class="user-image">
          <img src="./assets/images/shared-module/user.png" width="50%" height="50%">
        </div>
        <form class="mt-5" #f="ngForm">
          <!-- Email -->
          <div class="form-group">
            <label>Ingresa el correo electrónico</label>
            <div class="">
              <input type="email" placeholder="Email" class="form-control" name='email' [(ngModel)]="loginModel.email"
                #email="ngModel" required>
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">El email es obligatorio</div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label>Ingresa la contraseña</label>
            <div class="">
              <input type="password" placeholder="Contraseña" class="form-control" name='password'
                [(ngModel)]="loginModel.password" #password="ngModel" required>
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">La contraseña es
                obligatoria</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-primary" [disabled]="f.invalid" (click)="login()">Iniciar Sesión</button>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<!-- [(ngModel)]="cliente.nombre" -->
<!-- #nombre="ngModel" -->
