<div class="create" id="create">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Actualizar Post
      </div>
      <div class="card-body">
        <form (ngSubmit)="update()" #f="ngForm">
           <!-- Titulo -->
           <div class="form-group">
            <div>
              <input type="text" placeholder="Título" [(ngModel)]="post.title" name="title" #title="ngModel"
                class="form-control" required>
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">El Titulo es requerido</div>
            </div>
          </div>

           <!-- Contenido -->
           <div class="form-group">
            <label>Contenido</label>
            <div>
              <textarea rows="5" placeholder="Contenido" [(ngModel)]="post.body" name="body" #body="ngModel"
                class="form-control" required></textarea>
                <div [hidden]="body.valid || body.pristine" class="alert alert-danger">El Contenido es requerido</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" [disabled]=f.invalid>Actualizar</button>
          </div>
        </form>

      </div>

    </div>
  </div>

</div>

