<nav class="navbar navbar-expand-lg navbar-light">
  <div class="" style="text-align-last: center;">
    <a class="" href="#">
      <img src="./assets/images/home-module/logo.png" width="30%" height="30%">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->

      <li *ngIf="!loggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/shared/login">Login</a>
          <a class="dropdown-item" routerLink="/shared/register">Registrarse</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="signOut()" aria-disabled="true">Cerrar Sesión</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Post
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/post/list">Ver Post</a>
          <a  *ngIf="loggedIn()" class="dropdown-item" routerLink="/post/view">Ver mis Post</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/post/list">Ver Post</a>
      </li> -->
      <li *ngIf="loggedIn()"  class="nav-item">
        <a class="nav-link" href="/post/create">Postear</a>
      </li>
    </ul>
    <div class="nav-item">
      <div *ngIf="loggedIn()" class="navbar-input">
        <button class="btn btn-danger" (click)="signOut()">
          Cerrar Sesión
        </button>
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
