<div class="view" id="view">
  <div class="container">
    <div class="header text-center">
      <h2 class="text-white">Mis Publicaciones</h2>
    </div>
    <div class="card bg-aqua">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th scope="col">ID</th>
            <th scope="col">Id Usuario</th>
            <th scope="col">Título</th>
            <th scope="col">Contenido</th>
            <th scope="col">Acciones</th>
          </thead>
          <tbody *ngFor="let post of post">
            <td>{{post.id}} </td>
            <td>{{post.user_id}} </td>
            <td>{{post.title}} </td>
            <td>{{post.body}}
              <div class="container" *ngIf="downloadURL | async; let url">
                <img [src]="url" alt="Imagen desde AngularFireStorage">
              </div>`
            </td>
            <td class="row">
              <button class="btn btn-primary col m-1" (click)="update(post.id)">Actualizar
              </button>
              <button class="btn btn-danger col m-1" (click)="delete(post.id)">Borrar
              </button>
            </td>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
