.list {
  background-image: url(src/assets/images/shared-module/login-background.jpg);
  padding-top: 70px;
  padding-bottom: 40px;
  background-size: 100% cover;
  background-position: top center;
  background-color: rgb(241, 241, 241);
  min-height: 500px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}

