<div class="list" id="list">
  <div class="container">
    <div class="header text-center">
      <h2 class="text-white">¿De qué están hablando los demás?</h2>
    </div>
    <div class="card bg-aqua">
      <div class="card-body">
        <table class="table table-striped">
          <thead class="col">
            <th scope="col">ID</th>
            <th scope="col">Id Usuario</th>
            <th scope="col">Título</th>
            <th scope="col">Contenido</th>
            <th scope="col">Acciones</th>
          </thead>
          <tbody class="col" *ngFor="let post of post">
            <td>{{post.id}} </td>
            <td>{{post.user_id}} </td>
            <td>{{post.title}} </td>
            <td>{{post.body}} </td>
            <td class="row">
              <button  class="btn btn-success col m-1" (click)="comment(post.id)">Comentar
              </button>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
