.home {
  background-image: url(src/assets/images/shared-module/login-background.jpg);
  padding-top: 110px;
  padding-bottom: 40px;
  background-size: 100% cover;
  background-position: top center;
  background-color: rgb(241, 241, 241);
  height: auto;
  display: flex;
  justify-content: center;
}

.paragraph {
  background-color: rgba(241, 241, 241, 0.7);
}
