<div class="home" id="home">
  <div class="container">
    <div class="row pb-5">
      <!-- Contenedor 1 -->
      <div class="col-lg-6" style="text-align-last: center;">
        <img src="./assets/images/home-module/home-image.png" width="100%" height="100%">
      </div>
      <!-- Contenedor 2 -->
      <div class="paragraph col-lg-6">
        <div class="card-header">
          <p>Gluky Social App</p>
        </div>
        <div *ngIf="!loggedIn()"  class="card-body">
          <!-- Sesión sin iniciar -->
          <p class="justify-content-center">
            Descubre las novedades de usar la aplicación social de Gluky, con ella podrás iniciar sesión, postear tus ideas y mucho más, adelante y regístrate ya!!
          </p>
          <div class="button">
            <button routerLink="/shared/register" class="btn btn-success btn-block">Registrarse</button>
          </div>
          <div class="button">
            <p class="text-center my-1">¿Eres usuario ya?</p>
            <button routerLink="/shared/login" class="btn btn-primary btn-block">Iniciar Sesión</button>
          </div>

        </div>

        <div *ngIf="loggedIn()"  class="card-body">
          <!-- Sesión iniciada -->
          <div class="image" style="text-align-last: center;">
            <img src="./assets/images/home-module/logo.png" width="50%" height="50%">
          </div>
          <p class="justify-content-center">
            Recuerda no incluír lenguaje ofensivo, en ésta aplicación eres libre de comentar y publicar tus ideas.
            Glüky Group. 2020.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
